@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
  background-color: #444c4ffe;
}

span {
  display: inline-block;
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}


@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .text {
    @apply font-primary text-black dark:text-white;
  }
  .text-hover {
    @apply hover:text-amber-400 transition-colors duration-700;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply border-2 font-primary text-black border-black dark:border-white dark:text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-hover {
    @apply hover:text-amber-400 hover:border-amber-400 dark:hover:text-amber-200 dark:hover:border-amber-200 transition-colors duration-300;
  } 
  .btn-hover-red {
    @apply hover:text-red-400 hover:border-red-400 dark:hover:text-amber-200 dark:hover:border-amber-200 transition-colors duration-300;
  } 
  .btn-hover-orange {
    @apply hover:text-orange-400 hover:border-orange-400 dark:hover:text-amber-200 dark:hover:border-amber-200 transition-colors duration-300;
  } 
  .btn-hover-yellow {
    @apply hover:text-yellow-400 hover:border-yellow-400 dark:hover:text-amber-200 dark:hover:border-amber-200 transition-colors duration-300;
  } 
  .btn-hover-light-blue {
    @apply hover:text-sky-400 hover:border-sky-400 dark:hover:text-amber-200 dark:hover:border-amber-200 transition-colors duration-300;
  } 
  .btn-hover-blue {
    @apply hover:text-blue-400  hover:border-blue-400 dark:hover:text-amber-200 dark:hover:border-amber-200 transition-colors duration-300;
  } 
  .btn-hover-indigo {
    @apply hover:text-indigo-400 hover:border-indigo-400 dark:hover:text-amber-200 dark:hover:border-amber-200 transition-colors duration-300;
  } 
  .btn-hover-violet {
    @apply hover:text-violet-400 hover:border-violet-400 dark:hover:text-amber-200 dark:hover:border-amber-200 transition-colors duration-300;
  }   
  .btn-link {
    @apply text-base;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}